<h1>
    <h1>Zapomniałeś hasła?</h1>
    <p>Podaj adres email na jaki zostanie wysłane nowe hasło</p>
    <form name="forgotPassForm" ng-submit="forgotPassword()">
        <div class="form-group">
            <label for="email">Adres email</label>
            <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email" required>
        </div>
        <button type="submit" class="btn btn-danger" ng-disabled="forgotPassForm.$invalid">Zmień hasło</button>
    </form>
</h1>