<section nazwa="Zdjęcia w danym repozytorium">
    <div ng-show="messages.s == 404">
        <a href="#/allRepo">Wroć do przeglądania folderów.</a>
    </div>
    <div ng-show="!messages">
    <h1>Zdjęcia w folderze: {{imgByRepo.data[0].repoName}} ({{imgByRepo.data.length}})</h1>
    <div ng-init="getImgByRepo()">
        <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="img in imgByRepo.data">
                <a href="#/images/image/{{img.id}}" target="_blank" class="thumbnail">
                    <img src="upload/{{img.filename}}.{{img.extension}}" alt="">
                </a>
                <p>{{img.original_filename}}</p>
            </div>
        </div>
    </div>
        </div>
</section>